.navbar{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    background-color: transparent;
    z-index: 100;
}

/* nav item container */
.nav-items {
    display: flex;
    position: relative;
    width: fit-content;        
    backdrop-filter: blur(10px); 
    padding: 0.3rem 0rem;    
    border-radius: 10px;     
}


  
/* individual nav items */
.nav-item {
    color: white;
    padding: 0.4rem 0.3rem;
    cursor: pointer;
    position: relative;
    z-index: 2; 
    font-size: 0.4rem;
    transition: color 0.2s ease;
    font-family: "moderniz";
}
  
.nav-item:hover {
    color: white; 
}
  
/* add spacing between items */
.nav-item + .nav-item {
    margin-left: 0.5rem;
}
  
  
/* sliding bubble */
.nav-bubble {
    position: absolute;
    bottom: 0;               
    height: 99%;             
    border-radius: 10px;
    transition: all 0.8s ease; 
    z-index: 1;              
}

/* text color changes after homescreen */
.light-text .nav-item {
    color: black;
}
  
.light-text .nav-item.active {
    color: black;
}
  
.dark-text .nav-item {
    color: white;
}
  
.dark-text .nav-item.active {
    color: white;
}

@media (min-width: 445px){
    .nav-item{
        font-size: 0.6rem;
    }
}