/* containers */
.experience-content{
    width: 80vw;
    max-width: 800px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    z-index: 5;
}

/* individual card */
.card-container{
    padding: 1rem;
    border-radius: 10px;
    font-size: 0.3rem;
    color: white;
    font-family: "moderniz";
}

.titles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.exp-title{
    border-radius: 9px;
    padding: 0.5rem 0.5rem;
    color: white;
    display: inline-block;
    line-height: 1;  
    margin: 0;
}

.description{
    white-space: normal;
    font-size: 0.5rem;
}


@media (min-width: 500px){
    .titles{
        font-size: 0.4rem;
    }
}

@media (min-width: 800px){
    .titles{
        font-size: 0.6rem;
    }

    .description{
        font-size: 0.7rem;
    }
}

